.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
    height: 85px;
    background-color: #E4E5EA; 
}

@media all and (max-width: 1024px) {
    .header {
        margin: 0 96px;
    }
}    

@media all and (max-width: 768px) {
    .header {
        margin: 0 48px;
    }
} 

@media all and (max-width: 490px) {
    .header {
        height: 54px;
    }
}   

@media all and (max-width: 320px) {
    .header {
        margin: 0 16px;
    }
}    

.header__logo {
  font-size: 40px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

@media all and (max-width: 768px) {
    .header__logo {
        font-size: 32px;
    }
}  

@media all and (max-width: 490px) {
    .header__logo {
        font-size: 24px;
    }
} 

@media all and (max-width: 320px) {
    .header__logo {
        font-size: 20px;
    }
} 

.header__link {
    font-size: 24px;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 900;
    color: #007EB9;
    text-decoration: none;
}

@media all and (max-width: 490px) {
    .header__link {
        font-size: 16px;
        text-align: center;
    }
}  

@media all and (max-width: 320px) {
    .header__link {
        font-size: 14px;
    }
}  

.header__button {
    width: 161px;
    padding: 0;
}

@media all and (max-width: 768px) {
    .header__button {
        width: 121px;
        
    }
} 

@media all and (max-width: 490px) {
    .header__button {
        width: 63px;
    }
} 

.button {
    box-sizing: border-box;
    padding: 0;
    height: 53px;
    text-align: center;
    background-color: rgba(255, 255, 255, 10%);
    border: solid 2px #007EB9;
    border-radius: 50px;
    color: #007EB9;
}

.button:hover {
    opacity: 50%;
}

@media all and (max-width: 1024px) {
    .button {
        height: 42px;
    }
}  

@media all and (max-width: 768px) {
    .button {
        height: 41px;
    }
} 

@media all and (max-width: 490px) {
    .button {
        height: 22px;
    }
} 