.main {
    display:flex;
    justify-content: space-between;
    gap: 32px;
    background-color:#E4E5EA;
    margin: 48px 160px 0;
    
}
@media (max-width: 30em) {
    .main {
      flex: 1 0 auto;
    }
  }

@media all and (max-width: 1320px) {
    .main {
        justify-content: center;
        margin-top: 96px;
        /* margin-bottom: 12%; */
    }
}

@media all and (max-width: 1024px) {
    .main {
        margin: 96px 96px 0;
        /* margin-bottom: 7%; */
    }
}

@media all and (max-width: 768px) {
    .main {
        margin: 96px 48px 0;
        /* margin-bottom: 20%; */
    }
}

@media all and (max-width: 490px) {
    .main {
        margin: 96px 16px 0;
        /* margin-bottom: 55%; */
    }
}

.title {
    font-size: 40px;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 0 32px;
    text-transform: uppercase;
    color: #FF4D00;
}

@media all and (max-width: 768px) {
    .title {
        font-size: 32px;
    }
}    

@media all and (max-width: 490px) {
    .title {
        font-size: 24px;
        margin: 0 16px 16px;
        text-align: center;
    }
}    

.main__text {
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 32px 0;
    line-height: 1.5;
}

@media all and (max-width: 1024px) {
    .main__text {
        font-size: 32px;
        
    }
}   

@media all and (max-width: 768px) {
    .main__text {
        font-size: 24px;
        
    }
}   

@media all and (max-width: 490px) {
    .main__text {
        font-size: 16px;
        
    }
}  

.main__span {
    padding: 0;
    margin: 0;
}

.main__li {
}

.main__img {
    width: 100%;
    object-fit: contain;
}

@media all and (max-width: 1320px) {
    .main__img {
        display: none
        
    }
}  

.main__button {
    width: 100%;
}