.main {
    display:flex;
    justify-content: space-between;
    gap: 32px;
    background-color:#E4E5EA;
    margin: 48px 160px 0;
}

@media all and (max-width: 1024px) {
    .main {
        margin: 0 96px;
    }
}

@media all and (max-width: 768px) {
    .main {
        margin: 0 48px;
    }
}

@media all and (max-width: 425px) {
    .main {
        margin: 0 16px
    }
}

.main__paragraph {
    max-width: 595px;
}

@media all and (max-width: 1024px) {
    .main_paragraph {
        margin-left: 48px;
    }
}

@media all and (max-width: 768px) {
    .main_paragraph {
        margin-left: 24px;
    }
}

@media all and (max-width: 425px) {
    .main_paragraph {
        margin-left: 0;
        text-align: center;
    }
}

.title {
    font-size: 40px;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 0 32px;
    text-transform: uppercase;
    color: #FF4D00;
}

@media all and (max-width: 768px) {
    .title {
        font-size: 32px;
    }
}    

@media all and (max-width: 425px) {
    .title {
        font-size: 24px;
        margin: 0 16px 16px;
        text-align: center;
    }
}    

.main__text {
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 64px 0;
}

@media all and (max-width: 1024px) {
    .main_text {
        font-size: 32px;
        
    }
}   

@media all and (max-width: 768px) {
    .main_text {
        font-size: 24px;
        
    }
}   

@media all and (max-width: 425px) {
    .main_text {
        font-size: 16px;
        
    }
}   

.main__img {
    max-width: 545px;
}

.main__button {
    width: 100%;
}