body {
  max-width: 1440px;
  height: 100vh;
  background-color: #e4e5ea;
  margin: 0 auto;
  font-family: Inter, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

